.container-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.container-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.albums {
  margin-bottom: 1rem;
}

hr {
  margin: 2rem;
}

#submitQ1 {
  margin-top: 1rem;
}

.blondeQuiz {
  display: none;
}

.playboiCartiQuiz {
  display: none;
}

.drakeQuiz {
  display: none;
}
